ch200_3dsquare.svg
ch200_3dtriangle.svg
huge_2dsquare.svg
huge_2dtriangle.svg
huge_anim.gif
Revised FEA.ipynb
.ipynb_checkpoints/Revised FEA-checkpoint.ipynb
Directional Vectors/triangular3d.gh
Figures/branchbound_old.jl
Figures/branchbound.jl
Figures/branches100_2d_triangle.svg
Figures/chain_huge.svg
Figures/chain100_2d_triangle.svg
Figures/final_12.gif
Figures/gg.gif
Figures/gg3.gif
Figures/l9.svg
Figures/l12_2.gif
Figures/l12_2.mp4
Figures/l12.gif
Figures/l12.mp4
Figures/longchain.png
Figures/opt1.svg
Figures/stats_huge.svg
Figures/surface1.png
Figures/test.png
